{% extends 'base.html.twig' %}

{% block body %}
	{{ form_start(form) }}
	{{ form_errors(form) }}
	{{ question.question }}
	<ol style="list-style-type: upper-alpha">
		{%for child in form.choices %}
			<li>
				{{ form_widget(child) }}
				{{ form_label(child) }}
			</li>
		{% endfor %}
	</ol>
	{{ form_row(form.check) }}
	{{ form_end(form) }}
{% endblock %}